.poke-image-background{
    background-color: blanchedalmond;
    margin:8px;
    border-radius: 8px;
}
.poke-type-font{
    font-size: 40px;
}

.poke-stat-row{
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
}

.poke-image-details{
    width: 400px;
    height: 400px;
}

.back-to-list{
    display: flex;
    align-items: start;
}

.poke-detail-card-container{
    border-radius: 8%;
    padding: 12px;
    background-color:azure;
    min-width: 650px;
}

.delete-button{
    background-color: red;

}

.cancel-button{
    background-color: grey;
}
.action-button{
    display:flex;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.pop-up-container{
    background-color: black;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 100px;
    padding: 16px;
    border-radius: 24px;
    align-items: center;
    text-align: center;
}

.blur{
    filter: blur(5px);                                                                                                                       
}

.warning-text{
    font-size: large;
    color: azure;
    align-items: center;
    text-align: center;
    padding: 12px;
}

