.poke-image-background{
    background-color: #FFF8DE;
    margin:8px;
    border-radius: 8px;
}
.poke-type-font{
    font-size: 40px;
}

.poke-stat-row{
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
}

.poke-image-details{
    width: 400px;
    height: 400px;
}

.back-to-list{
    display: flex;
    align-items: start;
}

.poke-detail-card-container{
    border-radius: 8%;
    padding: 12px;
    background-color:#FFF2C6;
    min-width: 650px;
    border-color: grey;
    border-width: 8px;
}

.delete-button{
    background-color: red;

}

.cancel-button{
    background-color: grey;
}
.action-button{
    display:flex;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.pop-up-container{
    background-color: black;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 100px;
    padding: 16px;
    border-radius: 24px;
    align-items: center;
    text-align: center;
}

.blur{
    filter: blur(5px);                                                                                                                       
}

.warning-text{
    font-size: large;
    color: azure;
    align-items: center;
    text-align: center;
    padding: 12px;
}

.poke-detail-card-container input {
    border-width: 1px;
    border-color: transparent;
    border-radius: 24px;
    height: 48px;
    font-size: x-large;
    text-align: center;
    width: 200px;
    transition: all ease-in-out 0.3s;
    background-color: #AAC4F5;
}

.poke-detail-card-container input:hover{
    transform: translateY(-12%);
    box-shadow: -1px 4px gray;
    border-color: black;
}

.poke-detail-card-container input:active{
    border-color: black;
}

.poke-detail-card-container h1 {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
